* {
  font-family: Arial, Helvetica, sans-serif;
  
}



body {
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1193&q=80);
}






h1 {

  border: 3px double gold;
  background-color: inherit;
  color: gold;
  font-size: 10em;
  font-style: oblique;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  width: 80%;
}


article {
  
  width: 50%;
  margin: auto;
}

figure {
  
  width: 100%;
  padding: 25px;
  margin-top: 50px;
  display: inline-block;
}


img { 

  width: 100%;
  display: inline-block;
  border: double gold;
  opacity: 0.25;

}

img:hover {
  opacity: 1.0;

}

p {

  font-size: 3em;
  letter-spacing: .4rem;
  color: lightskyblue;
  text-indent: 15px;
  text-align: center;
  
}

h2 {

  text-align: center;
  color: gold;
  font-size: 10em;
  font-style: oblique;
  padding: 50px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 40px;
  border: 4px ridge gold;


}

ul {

  font-size: 2em;
  color: lightskyblue;
  text-align: center;
  letter-spacing: .4rem;
  list-style: square inside url("sqpurple.gif");
  
}





h3 {

  text-align: center;
  color: gold;
  font-size: 10em;
  font-style: oblique;
  padding: 50px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 40px;
  border: 4px ridge gold;


}

ol {

  font-size: 2em;
  color: lightskyblue;
  text-align: center;
  letter-spacing: .4rem;
  list-style-type: upper-alpha;
  
}

li {

  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 4px transparent lightblue;  

}

footer {
  color: lightskyblue;
  text-align: right;
}






